@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	line-height: 18px;
}
h1   {
	font-size: 13px;
	line-height: 20px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	zoom: 1;
    *display: inline;
	width: auto;
}
h2 {
	font-size: 16px;
	color: #000;
	background-color: #64d0ed;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 20px;
	zoom: 1;
    *display: inline;
}
h3 {
	font-size: 10px;
	color: #000;
	background-color: #64d0ed;
	font-weight: bold;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 15px;
	vertical-align: baseline;
	line-height: 15px;
	zoom: 1;
    *display: inline;		margin-top: 10px;
	background-image: url(../images/arrow.gif);
	background-repeat: no-repeat;
	margin-bottom: 15px;
}
h4 {
	font-size: 12px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 15px;
	zoom: 1;
    *display: inline;
	margin-left: 2px;
}
h5 {
	font-size: 12px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 15px;
	zoom: 1;
    *display: inline;
	margin-bottom: 15px;
}
h6 {
	font-size: 12px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 15px;
	zoom: 1;
    *display: inline;
	margin-bottom: 5px;
	margin-top: 5px;
}
.status {
	font-size: 15px;
	color: #FFF;
	background-color: #369;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 20px;
	zoom: 1;
    *display: inline;
	margin-bottom: 5px;
	margin-top: 10px;
}
a:link {
	color: #666;
	text-decoration: none;
}
a:visited {
	color: #666;
}
a:hover {
	color: #666;
	text-decoration: underline;
}
a:active {
	color: #666;
}
#container  {
	width: 870px;
	margin: 0 auto;
	text-align: left; /* this overrides the text-align: center on the body element. */
}
#header  {
	height: 125px;
	width: 870px;
}
#mainContent  {
	height: auto;
	width: 750px;
	margin-right: 65px;
	margin-left: 55px;
	background-image: url(../images/content.png);
	background-repeat: repeat-y;
	line-height: 0px;
	background-position: 0px 10px;
}
#mainContent #top {
	height: 10px;
	width: 750px;
	background-image: url(../images/top.png);
	background-repeat: no-repeat;
}
#mainContent #content {
	height: auto;
	width: 660px;
	margin-top: 40px;
	margin-right: 45px;
	margin-left: 45px;
	margin-bottom: 30px;
}
#mainContent #bottom {
	background-image: url(../images/bottom.gif);
	background-repeat: no-repeat;
	height: 10px;
	width: 100%;
}
.clearfloat {
	clear: both;
}
#content #baner {
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
#content .text {
	width: 641px;
	padding-right: 15px;
	line-height: 15px;
	background-color: #64d0ed;
	color: #FFF;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-left: 4px;
	padding-bottom: 5px;
	margin-top: 5px;
}
#content .text a {
	color: #003;
}
#content #left {
	float: left;
	height: 85px;
	width: 290px;
	background-color: #000;
	margin-right: 40px;
}
#content #right {
	float: left;
	height: 85px;
	width: 330px;
	background-color: #000;
}
#content #top_navi {
	float: left;
	height: 45px;
	width: 100%;
}
#content #top_navi #cart1 {
	float: right;
	height: 30px;
	width: 65px;
	padding-left: 30px;
	background-color: #0d8aab;
	background-image: url(../images/cart_img.png);
	background-repeat: no-repeat;
	font-size: 10px;
	color: #FFF;
	line-height: 15px;
}
#content #top_navi #head {
	float: left;
	height: auto;
	width: 565px;
}
#content #top_navi a:link {
	color: #FFF;
	text-decoration: none;
}
#content #top_navi a:visited {
	color: #FFF;
	text-decoration: none;
}
#content #top_navi a:hover {
	color: #000;
	text-decoration: underline;
}
#content #top_navi a:active {
	color: #FFF;
	text-decoration: none;
}
#content #slideshow {
	height: auto;
	width: 440px;
	margin-right: 10px;
	margin-bottom: 5px;
	float: left;
}
#content #product_right {
	float: right;
	height: auto;
	width: 210px;
}
#content #product_right #description {
	background-color: #64d0ed;
	height: auto;
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 16px;
	color: #FFF;
	padding-top: 10px;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 10px;
}
#content #product_right #description ul ,ul li{
	list-style-position: outside;
	list-style-type: disc;
	margin-left: 10px;
}
#content #product_right input[type="text"] {
	height: 16px;
	width: 38px;
	border: thin solid #000;
}
#content #product {
	float: left;
	height: auto;
	width: 190px;
	margin-bottom: 30px;
}
#content #product .buy {
	height: 15px;
	width: 100%;
}
#content #product .buy a{
	font-size: 12px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 15px;
	zoom: 1;
    *display: inline;
	margin-left: 2px;
	height: 15px;
}
#content #product .buy a:active {
}
#content #product .buy a:hover {
	background-color: #000;
}
#content #product .buy a:visited {
	color: #FFF;
	text-decoration: none;
}
#content #product img {
	margin-bottom: 5px;
}
#footer  {
	height: 45px;
	width: 870px;
	text-align: center;
	vertical-align: middle;
	color: #666;
	padding-top: 20px;
	font-size: 10px;
}
#content #cart {
	width: 660px;
	line-height: 15px;
	color: #FFF;
	margin-bottom: 15px;
	margin-top: 5px;
}
#content #cart table {
	width: 600px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #12707f;
	border-right-color: #12707f;
	border-bottom-color: #12707f;
	border-left-color: #12707f;
	line-height: 25px;
	font-weight: normal;
	color: #000;
}
#content #cart table  td{
	height: 25px;
	padding-left: 5px;
	background-color: #d9e7e9;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #12707f;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #12707f;
}
#content #cart .sub     {
	font-weight: bold;
	vertical-align: middle;
	color: #000;
	text-align: right;
}
#content #cart .top {
	background-color: #64d0ed;
	font-weight: bold;
	vertical-align: middle;
	color: #000;
}
#content #cart .none {
	background-color: transparent;
	font-weight: bold;
	vertical-align: middle;
	color: #000;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#content #cart .remove {
	font-size: 10px;
	color: #FFF;
	background-color: #0d8aab;
	display: block;
	height: 15px;
	width: 50px;
	margin-top: 5px;
	line-height: 15px;
	padding-left: 5px;
}
input[type="text"] {
	height: 16px;
	width: 200px;
	border: thin solid #000;
	margin-bottom: 10px;
}
.login {
	background-image: url(../images/login.gif);
	background-repeat: no-repeat;
	height: 20px;
	width: 50px;
	margin-top: 20px;
	background-color: transparent;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.text {
	width: 500px;
	padding-right: 15px;
	line-height: 15px;
	background-color: #64d0ed;
	color: #FFF;
	margin-bottom: 15px;
	padding-top: 5px;
	padding-left: 4px;
	padding-bottom: 5px;
	margin-top: 5px;
}
#links_left {
	float: left;
	height: auto;
	width: 230px;
}
#links_left a{
	font-size: 14px;
	color: #003;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
#links_left a:link {
	font-size: 14px;
	color: #003;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
#links_left a:visited {
	font-size: 14px;
	color: #003;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
#links_left a:hover {
	font-size: 14px;
	color: #FFF;
	background-color: #000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
#links_left a:active {
	font-size: 14px;
	color: #003;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
.links_right {
	float: left;
	height: auto;
	width: 200px;
}
.links_right a {
	font-size: 14px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
.links_right a:link {
	font-size: 14px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
.links_right a:visited {
	font-size: 14px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
.links_right a:hover {
	font-size: 14px;
	color: #FFF;
	background-color: #000;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
.links_right a:active {
	font-size: 14px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 17px;
	zoom: 1;
    *display: inline;
	margin-top: 5px;
}
#contact_top {
	float: left;
	height: auto;
	width: 100%;
	margin-bottom: 20px;
}
#contact_left {
	float: left;
	height: auto;
	width: 340px;
	margin-bottom: 20px;
}
#contact_left .note {
	font-size: 10px;
	line-height: 12px;
	width: 300px;
	background-color: #64d0ed;
	height: auto;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: #FFF;
}
.contact_text {
	font-size: 13px;
	color: #FFF;
	background-color: #64d0ed;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	display: -moz-inline-stack;
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	vertical-align: baseline;
	line-height: 20px;
	zoom: 1;
    *display: inline;
	margin-bottom: 2px;
}
#contact_left a {
	color: #000033;
}
#contact_right {
	float: right;
	height: auto;
	width: 320px;
}
#contact_right input[type="text"] {
	height: 23px;
	width: 310px;
	border: thin solid #FFF;
	margin-bottom: 5px;
	background-color: #64d0ed;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	outline: none;
}
#contact_right textarea {
	height: 100px;
	width: 310px;
	border: thin solid #FFF;
	margin-bottom: 5px;
	background-color: #64d0ed;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding-top: 5px;
	outline: none;
}
#contact_right input.submit {
	height: 20px;
	width: 60px;
	margin-bottom: 5px;
	outline: none;
	border: none;
	background-repeat: no-repeat;
	color: #FFF;
	background-color: #0d8aab;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.form_color {
	width: 135px;
}