.nav{
	/*height: 70px;*/
	background: white;
}
.navbar{
	background: white;
	margin-bottom: 0px;
	min-height: 70px;
}
.navbar-brand{
	height: 70px;
	padding: 17px 30px;
}
.navbar-brand img{
	height: 36px;
	width: 141px;
	/*this is the shopping cart*/
}
.navbar-default{
	border: none;
}
.jumbotron {
  padding: 15px;
  margin-bottom: 0px;
  background-color: #eee;
}
.jumbotron.hero{
	width: 100%;
	background-image: url('../img/herobike.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 0;

}
/*.jumbotron.featured{
	background-image: url("../img/kissenacomplete.jpg");
}*/
.dropdown:active{
	background-color: #E6E7E8;
}
.dropdown-toggle{
	font-family: 'flama_condensed_semiboldSBd';
	font-size: 16px;
	letter-spacing: 1px;
}
.dropdown-menu{
	font-family: 'flama_semicondensedlight';
}
.cart{
	/*margin-left: 60px;*/
}

h1{
	font-family: 'flama_condensed_semiboldSBd';
	font-size: 25px;
	color: #102B4E;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}
.hero h1{
	margin-top: 15px;
}
.top0{
	margin-top: 0px;
}
.top20{
	margin-top: 20px;
}
.top30{
	margin-top: 30px;
}
.top60{
	margin-top: 60px;
}
.top100{
	margin-top: 100px;
}
.bot0{
	margin-bottom: 0px;
}
.bot30{
	margin-bottom: 30px;
}
.bot60{
	margin-bottom: 60px;
}
.font35{
	font-size: 35px;
}

h2{
	font-family: 'flama_condensed_semiboldSBd';
	font-size: 18px;
	color: white;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 10px;
}
h3{
	font-family: 'flama_condensed_semiboldSBd';
	font-size: 25px;
	color: #102B4E;
	letter-spacing: 1px;
	text-transform: uppercase;
}
h4{
	font-family: "flama_condensed_semiboldSBd";
	font-size: 18px;
	color: #102B4E;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}
.footer {
    width:100%;
    height:auto;
    min-height:165px;
    background-color:#bcbdc0;
    color: #102B4E;
}
.footer .form-inline .form-control{
    background-color:white;
    border:none;
}
.footer .social {
    margin-top:15px;   
    margin-right:3px;
}
.ptext{
	font-family: 'flama_semicondensedlight';
	color: grey;
	font-size: 16px;
	letter-spacing: 1px;
}
.bred {
    background: #102A4D;
    color: white;
    text-align: center;
    height: 58px;
}
.list-group{
	width: 190px;
	float: left;
}
.list-group-item{
	border: none;
	padding: 0;
}
@media (min-width: 320px){
	.jumbotron.hero{
		height: 200px;
	}
}
@media (min-width: 480px){
	.jumbotron.hero{
		height: 250px;
	}
}
@media (min-width: 768px){
    h1{
	font-family: 'flama_condensed_semiboldSBd';
	font-size: 55px;
	color: #102B4E;
	letter-spacing: 3px;
	text-transform: uppercase;
    }
    h2{
        font-family: 'flama_condensed_semiboldSBd';
        font-size: 35px;
        color: white;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 20px;
    }
    h3{
        font-family: 'flama_condensed_semiboldSBd';
        font-size: 35px;
        color: #102B4E;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    h4{
        font-family: "flama_condensed_semiboldSBd";
        font-size: 25px;
        color: #102B4E;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .jumbotron {
      padding: 30px;
      margin-bottom: 0px;
      background-color: #eee;
    }
    .jumbotron.hero{
		height: 513px;
	}
    .subnav {
        background-color:#e7e7e7; 
        min-height:40px;  
        height:40px;
    }
    .subnav .nav {
        background-color:#e7e7e7;
    }
    .hero h1{
        margin-top: 120px;
    }
    .bred{
        height:70px;
    }
    .footer .form-inline .form-control{
        width: 220px;
    }
    .newsLink{
    	font-size: 12px;
    	text-decoration: none;
    	text-transform: uppercase;
    }
}
@media (min-width: 1020px){
	.jumbotron.hero{
		height: 513px;
	}
}
@media (min-width: 1200px){
	.jumbotron.hero{
		height: 513px;
	}
}

