/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


global
{
	contentBackgroundColor: #FFFFFF;
	symbolColor: #000000;
}
mx|LinkBar
{
	color: #FFFFFF;
	fontFamily: Arial;
	fontWeight: bold;
	verticalAlign: top;
}
mx|LinkButton
{
	color: #FFFFFF;
	fontWeight: bold;
}