/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/halo";


s|Panel
{
	fontFamily: "Courier New";
	baseColor: #DC4444;
	contentBackgroundColor: #B8A7A7;
}