<?xml version="1.0"?>
<config>
    <modules>
        <TM_EasyTabs>
            <version>1.0.0</version>
        </TM_EasyTabs>
    </modules>
    <global>
        <helpers>
            <easytabs>
                <class>TM_EasyTabs_Helper</class>
            </easytabs>
        </helpers>
		<resources>
            <easytabs_setup>
                <setup>
                    <module>TM_EasyTabs</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </easytabs_setup>
            <easytabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </easytabs_write>
            <easytabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </easytabs_read>
        </resources>
    </global>		
    <frontend>
        <layout>
            <updates>
                <easytabs>
                    <file>easytabs.xml</file>
                </easytabs>
            </updates>
        </layout>
    </frontend>
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <easy_tabs translate="title" module="easytabs">
                                            <title>Easy Tabs Section</title>
                                            <sort_order>60</sort_order>
                                        </easy_tabs>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>